<h1> <%= @user.username %> is Following:</h1>
<% if !@following.nil? %>
  <table border=1>
    <tr>
      <% @following.each do |follow| %>
      <td><img src="<%= follow.avatar_url %>" width='100' height='100' alt="">
      <p><%= link_to follow.username, user_path(follow) %></p> </td>
      <% end %>
    </tr>
  </table>
<% else %>
    <p>You are not following anyone yet.</p>
<% end %>
