<h1>You're Following:</h1>
<% if !@following.nil? %>
  <% @following.each do |follow| %>
  <%= gravatar_for_forty_px(follow.email) %><%= link_to follow.username, user_path(follow) %>
  <% end %>
<% else %>
    <p>You are not following anyone yet.</p>
<% end %>
