<h1> <%= @user.username %> Followers:</h1>
<% if !@followers.nil? %>
<table border=1>
  <tr>
    <% @followers.each do |follower| %>
    <td><img src="<%= follower.avatar_url %>" width='100' height='100' alt="">
    <p><%= link_to follower.username, user_path(follower) %></p> </td>
    <% end %>
  </tr>
</table>
<% else %>
    <p>You have no followers yet.</p>
<% end %>
